.canvas {
    display: block;
}

.quote {
    background-color: black;
    background-repeat: no-repeat;
    background-position: right top;
    margin: 0;
    width: 70%;
    height: 15%;
    text-align: center;
    align-content: center;
    position: relative;
}

.quote h1{
    font-size: 55px;
    color: white;
}
