<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>shining</title>
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='pixi.min.js') }}"></script>
</head>
<body>
  <script type="text/javascript">
    // testing is it's linked
    let type = "WebGL"
    if(!PIXI.utils.isWebGLSupported()){
      type = "canvas"
    }
    PIXI.utils.sayHello(type)

    var app = new PIXI.Application();
    document.body.appendChild(app.view);
    // Create background image
    // var imgElement = document.createElement('img');
    // imgElement.crossOrigin = "anonymous";
    // imgElement.src = "https://www.tynesidecinema.co.uk/storage/app/uploads/public/59c/556/ac4/59c556ac4f5ef978020283.png";
    var background = PIXI.Sprite.fromImage("https://www.tynesidecinema.co.uk/storage/app/uploads/public/59c/556/ac4/59c556ac4f5ef978020283.png", {crossOrigin: 'anonymous'});
    background.width = app.screen.width;
    background.height = app.screen.height;
    app.stage.addChild(background);
    // Stop application wait for load to finish
    app.stop();
   PIXI.loader.add("https://www.tynesidecinema.co.uk/storage/app/uploads/public/59c/556/ac4/59c556ac4f5ef978020283.png", {crossOrigin: 'anonymous'});
    PIXI.loader.add('shader', '../static/assets/shader.frag', {crossOrigin: 'anonymous'})
        .load(onLoaded);
    var filter;
    // Handle the load completed
    function onLoaded (loader,res) {
        // Create the new filter, arguments: (vertexShader, framentSource)
        filter = new PIXI.Filter(null, res.shader.data);
        // Add the filter
        background.filters = [filter];
        // Resume application update
        app.start();
    }
    // Animate the filter
    app.ticker.add(function(delta) {
        filter.uniforms.customUniform += 0.04 * delta;
    });
  </script>
</body>
</html>
